body {
  background: rgb(46, 45, 45);
}

.time-text,
.move-text,
.size-text {
  color: #a79f9f;
}

.time,
.move,
.mine,
.flag-number {
  border: solid 1px #a79f9f;
  color: #ece2e2;
}

.game {
  background: #9a9ab5;
}

.open {
  background: #ddd7d7;
}

.green {
  color: #6c8d64;
  ;
}

.blue {
  color: #71b4f6;
}

.red {
  color: #e8475f;
}

.purple {
  color: #c54ad8;
}

.yellow {
  color: #acac4a;
}

.pink {
  color: #f499d6;
}

.orange {
  color: #c29568;
}

.table {
  background: rgb(46, 45, 45);
  border-right: solid 1px ;
  border-top: solid 1px #a79f9f;
}

.table-cell {
  border-left: solid 1px #a79f9f;
  border-bottom: solid 1px #a79f9f;
  color: #a79f9f;
}

.table-header {
  background: #5c5757;
}

.header-cell {
  border-left: solid 1px #a79f9f;
  border-bottom: solid 1px #a79f9f;
  color: #a79f9f;
}

