body {
  background: rgb(229, 229, 227);
}

.time-text,
.move-text {
  color: #5c5757;
}

.time,
.move,
.mine,
.flag-number {
  border: solid 1px #7b7474;
}

.game {
  background: #606069;
}

.open {
  background: #bdb5b5;
}

.green {
  color: #319b18;
  ;
}

.blue {
  color: #3f2eda;
}

.red {
  color: #a52034;
}

.purple {
  color: #510d5b;
}

.yellow {
  color: #ecec2f;
}

.pink {
  color: #e93aaf;
}

.orange {
  color: #e37f1a;
}
