body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.character {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* column-gap: 10px; */
  /* background: #ecec2f; */
}

.time-container {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.time-text,
.move-text {
  font-size: 20px;
  cursor: default;
}

.time,
.move,
.mine,
.flag-number {
  width: 25%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: default;
}

.restart {
  width: 25%;
  height: 50px;
  background: #ecec2f;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.restart:hover {
  background: #dddda2;
  transition: background-color 0.2s;
}

.remark {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  background: #ecec2f;
  font-size: 25px;
  border-radius: 20px;
}

.game {
  /* width: 70%; */
  /* height: 80%; */
  /* aspect-ratio: 1000/1000; */
  background: #606069;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.line {
  width: 100%;
  /* height: 10%; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.square {
  width: 5vw;
  max-width: 40px;
  /* width: 50px; */
  aspect-ratio: 1;
  /* height: 100%; */
  border: solid 1px #686855;
  /* border-radius: 5px; */
  box-shadow:
    inset 0 0 3px 1px rgba(0, 0, 0, .8),
    inset rgba(0, 0, 0, .3) -5px -5px 8px 5px,
    inset rgba(255, 255, 255, .5) 5px 5px 8px 5px,
    1px 1px 1px rgba(255, 255, 255, .1),
    -2px -2px 5px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 800;
  background: no-repeat;
    background-position: center;
}

.open {
  background: #bdb5b5;
  /* background: no-repeat; */
  background-position: center;
  /* border: solid 1px #bdb5b5; */
  box-shadow: none;
}

.green {
  color: #319b18;
  ;
}

.blue {
  color: #3f2eda;
}

.red {
  color: #a52034;
}

.flag {
  background: url('./assets/flag.svg');
  background-size: contain;
}

.sound {
  width: 10%;
  height: 50px;
  background: #ecec2f;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.sound:hover {
  background: #dddda2;
  transition: background-color 0.2s;
}

.theme {
  width: 10%;
  height: 50px;
  background: #ecec2f;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.theme:hover {
  background: #dddda2;
  transition: background-color 0.2s;

}

@media (max-width: 1000px) {

  .theme {
    font-size: 15px;
  }

  .sound {
    font-size: 15px;
  }

}

@media (max-width: 800px) {

  .theme {
    font-size: 10px;
  }

  .sound {
    font-size: 10px;
  }

  .restart {
    font-size: 15px;
  }

  .time,
  .move,
  .mine,
  .flag-number {
    font-size: 18px;
  }


}

@media (max-width: 550px) {

  .theme {
    font-size: 8px;
  }

  .sound {
    font-size: 8px;
  }

}